*{
    margin: 0;
    padding: 0;
}
.rect{
    width: 5px;
    display: inline-block;
    border: 0.2px solid white;
    color: gainsboro;
    font-size: small;}
.navbar{
    height: 40px;
    background-color: blueviolet;
}
#sleep{
    margin-top: 10px;
    margin-left: 10px;
}